@charset "UTF-8";
/* メディアクエリ */
/* 両端ん揃え */
/* 横並び（基本形） */
/* 横並び（中央揃え） */
.wrapper {
  width: 46%;
  margin: 0 auto 70px;
}
@media screen and (max-width: 767px) {
  .wrapper {
    width: 100%;
    margin-bottom: 60px;
  }
}

.title {
  display: flex;
  align-items: flex-end;
  margin-bottom: 20px;
}
.title h4 {
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
}

.image {
  position: relative;
  width: 50px;
  aspect-ratio: 1/1;
  margin-right: 20px;
  display: flex;
  align-items: flex-end;
}
@media screen and (max-width: 767px) {
  .image {
    width: 35px;
  }
}

.barBox {
  width: 100%;
  height: 40px;
  background-color: #fff;
  border-radius: 15px;
  text-align: left;
  position: relative;
}
@media screen and (max-width: 767px) {
  .barBox {
    height: 25px;
  }
}

.skillBar {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background: linear-gradient(to right, #facf63, #F08275);
}

.skillNum {
  position: absolute;
  left: 10%;
  top: 0;
  font-size: 2.4rem;
  font-family: "Roboto", sans-serif;
  z-index: 2;
}
@media screen and (max-width: 767px) {
  .skillNum {
    font-size: 1.8rem;
    top: -4px;
  }
}