@charset "UTF-8";
/* メディアクエリ */
/* 両端ん揃え */
/* 横並び（基本形） */
/* 横並び（中央揃え） */
html {
  font-size: 62.5%;
  /* 16px * 62.5% = 10px */
  width: 100%;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  color: #333;
  /* RGB */
  font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  background-color: rgb(239, 236, 233);
}
@media screen and (max-width: 767px) {
  body {
    font-size: 1.2rem;
  }
  body p {
    text-align: left;
  }
}

main {
  overflow: hidden;
}

h1,
h2 {
  font-family: "Pacifico";
}

a {
  text-decoration: none;
  color: inherit;
}
@media (hover: hover) {
  a:hover {
    opacity: 0.5;
    cursor: pointer;
  }
}
@media (hover: none) {
  a {
    -webkit-tap-highlight-color: transparent;
    opacity: 1;
  }
  a:active {
    opacity: 0.5;
  }
}

img {
  vertical-align: bottom;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h2 {
  font-size: 5rem;
  text-transform: capitalize;
}

p {
  line-height: 2;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

span img {
  transition: 0.5s;
}