@charset "UTF-8";
/* メディアクエリ */
/* 両端ん揃え */
/* 横並び（基本形） */
/* 横並び（中央揃え） */
.container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #5BAE6D;
  z-index: -1;
}
@media screen and (max-width: 767px) {
  .container {
    height: 500px;
  }
}

.orange {
  background-color: #F08774;
}

.blue {
  background-color: cadetblue;
}

.flexCenter {
  display: flex;
  flex-direction: column-reverse;
  height: 60vh;
}
@media screen and (max-width: 767px) {
  .flexCenter {
    height: 65%;
  }
}

.title {
  color: rgb(239, 236, 233);
  font-size: 8rem;
  text-shadow: 20px 10px 100px rgba(7, 33, 66, 0.5);
}
@media screen and (max-width: 767px) {
  .title {
    font-size: 5rem;
  }
}

.subtitle {
  color: rgb(239, 236, 233);
  font-size: 3rem;
  text-shadow: 40px 20px 100px rgba(7, 33, 66, 0.5);
}
@media screen and (max-width: 767px) {
  .subtitle {
    font-size: 2rem;
    text-align: center;
  }
}

.bubble {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  -webkit-animation: bubbling 8s linear;
          animation: bubbling 8s linear;
  z-index: -2;
}

@-webkit-keyframes bubbling {
  0% {
    opacity: 0;
    bottom: 0;
  }
  10% {
    opacity: 0.2;
    transform: translateX(10px);
  }
  30% {
    transform: translateX(-10px);
  }
  50% {
    opacity: 0.6;
    transform: translateX(10px);
  }
  70% {
    transform: translateX(-10px);
  }
  90% {
    opacity: 0.7;
    transform: scale(0.3, 0.3);
    transform: translateX(10px);
  }
  100% {
    opacity: 0;
    bottom: 100vh;
    transform: translateX(-10px);
  }
}

@keyframes bubbling {
  0% {
    opacity: 0;
    bottom: 0;
  }
  10% {
    opacity: 0.2;
    transform: translateX(10px);
  }
  30% {
    transform: translateX(-10px);
  }
  50% {
    opacity: 0.6;
    transform: translateX(10px);
  }
  70% {
    transform: translateX(-10px);
  }
  90% {
    opacity: 0.7;
    transform: scale(0.3, 0.3);
    transform: translateX(10px);
  }
  100% {
    opacity: 0;
    bottom: 100vh;
    transform: translateX(-10px);
  }
}