.btn {
  display: inline-block;
  color: rgb(239, 236, 233);
  font-family: "Roboto", sans-serif;
  background-color: #5BAE6D;
  padding: 15px 60px;
  border-radius: 5px;
  box-shadow: 5px 5px 0 #514E50;
  transition: box-shadow 0.25s;
}
.btn:hover {
  opacity: 1;
  box-shadow: 0 0 0 #514E50;
}