@charset "UTF-8";
/* メディアクエリ */
/* 両端ん揃え */
/* 横並び（基本形） */
/* 横並び（中央揃え） */
.wrapper {
  padding: 100px 140px;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
  .wrapper {
    padding: 60px 24px;
    display: block;
  }
}