/* メディアクエリ */
$breakpoint: (
    sp: 'screen and (max-width: 767px)',
    pc: 'screen and (min-width: 768px)',
);

@mixin mq($bp) {
    @media #{map-get($breakpoint, $bp)} {
        @content
    }
};

/* 両端ん揃え */
@mixin spaceBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
};

/* 横並び（基本形） */
@mixin sideBySide {
    display: flex;
    flex-direction: column;

    @include mq(pc) {
        flex-direction: row;
        justify-content: space-between;
    }
};

/* 横並び（中央揃え） */
@mixin sideBySideCenter {
    @include sideBySide;
    align-items: center;
    text-align: center;

    @include mq(pc) {
        text-align: left;
    }
}