@use 'variable' as var;

.btn {
    color: var.$mainColor;
    font-family: var.$mainFont;
    background-color: var.$accentColor;
    padding: 15px 60px;
    border-radius: 5px;
    box-shadow: 5px 5px 0 #514E50;
    transition: box-shadow .25s;
    display: flex;
    gap: .5em;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: fit-content;

    &:hover {
        opacity: 1;
        box-shadow: 0 0 0 #514E50;
        cursor: pointer;
    }

    a:hover {
        opacity: 1;
    }
}

.btnLocal {
    composes: btn;
    margin: 0 auto 60px auto;
}