@use 'mixin' as mix;

.wrapper {
    padding: 100px 80px;

    @include mix.mq(sp) {
        padding: 60px 24px;
    }
}

.title {
    margin-bottom: 80px;

    @include mix.mq(sp) {
        margin-bottom: 40px;
    }
}

.flexContainer {
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    a {
        font-size: 2.5rem;

        &:hover {
            opacity: 1;
        }

        @include mix.mq(sp) {
            font-size: 1.8rem;
        }
    }
}