@use 'variable' as var;
@use 'mixin' as mix;

.container {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #309002;
    z-index: -1;

    @include mix.mq(sp) {
        height: 500px;
    }
}

.text {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include mix.mq(sp) {
        height: 65%;
    }
}

.title {
    color: var.$mainColor;
    font-size: 8rem;
    text-shadow: 20px 10px 100px rgb(7 33 66 / 50%);


    @include mix.mq(sp) {
        font-size: 5rem;
    }
}

.subtitle {
    color: var.$mainColor;
    font-size: 3rem;
    text-shadow: 40px 20px 100px rgb(7 33 66 / 50%);

    @include mix.mq(sp) {
        font-size: 2rem;
        text-align: center;
    }
}