@use 'mixin' as mix;

.wrapper {
    padding: 100px 0 10px;

    @include mix.mq(sp) {
        padding: 60px 24px;
    }

    h2 {
        margin-bottom: 100px;

        @include mix.mq(sp) {
            margin-bottom: 60px;
        }
    }
}

.list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    @include mix.mq(sp) {
        display: block;
    }
}