@use 'mixin' as mix;
@use 'variable' as var;

.wrapper {
    width: 25%;

    @include mix.mq(sp) {
        width: 100%;
        margin-bottom: 60px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.image {
    width: 90%;
    aspect-ratio: 4/3;
    margin: 0 auto 20px;
    position: relative;
    box-shadow: 7px 9px 32px -6px rgb(7 33 66 / 50%);

    @include mix.mq(sp) {
        width: 55%;
    }
}

.title {
    margin-bottom: 20px;
    font-size: 2.4rem;
    text-transform: uppercase;
    font-family: var.$mainFont;
}

.description {
    text-align: left;
    width: 100%;
    margin: 0 auto;

    @include mix.mq(sp) {
        width: 100%;
    }
}