@use 'mixin' as mix;

.wrapper {
    padding: 120px 24px 60px;

    @include mix.mq(sp) {
        padding: 100px 24px 60px;
    }

    h2 {
        margin-bottom: 100px;

        @include mix.mq(sp) {
            margin-bottom: 60px;
        }
    }
}

.list {
    display: flex;
    justify-content: center;
    gap: 6%;

    @include mix.mq(sp) {
        display: block;
    }
}