@use 'variable' as var;
@use 'mixin' as mix;

.btn {
    all: unset;
    outline: revert;
    cursor: pointer;
    width: 42px;
    height: 42px;
    position: relative;
    z-index: 200;
    color: var.$mainColor;
    margin-left: 10px;
    display: grid;
    place-items: center;

    &:hover {
        opacity: .5;
    }

    @include mix.mq(pc) {
        display: none;
    }

    .bar,
    &::before,
    &::after {
        grid-area: 1 / 1;
        content: '';
        display: block;
        width: 35px;
        height: 3px;
        border-radius: 3px;
        background-color: currentColor;
        transition: transform .4s;
    }
}

.close {
    .btn {
        &::before {
            transform: translateY(-10px);
        }

        &::after {
            transform: translateY(10px);
        }
    }
}

.open {
    .btn {
        &::before {
            transform: rotate(45deg);
        }

        &::after {
            transform: rotate(-45deg);
        }

        .bar {
            transform: scale(0);
        }
    }
}

.list {
    display: flex;
    justify-content: flex-end;
    gap: 5vw;
    margin-left: 5vw;
    font-size: 1.8rem;
    color: var.$mainColor;
    text-shadow: 5px 2px 100px rgb(7 33 66 / 80%);

    @include mix.mq(sp) {
        position: fixed;
        margin-left: auto;
        inset: 0 100% 0 -100%;
        z-index: 100;
        font-size: 2rem;
        background-color: rgba(58, 61, 62, .9);
        transition: transform .4s;
    }
}

.open {
    @include mix.mq(sp) {
        .list {
            display: grid;
            gap: 100px;
            place-content: center;
            text-align: center;
            transform: translateX(100%);
        }
    }
}