@use 'mixin' as mix;

.flexContainer {
    display: flex;
    justify-content: space-between;
    padding: 0 80px;
    gap: 1em;

    @include mix.mq(sp) {
        padding: 0 24px;
    }
}

.prev {
    margin-left: auto;
}

.iconText {
    display: flex;
    gap: .5em;
    align-items: center;
}