@use 'mixin' as mix;
@use 'variable' as var;

.gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 120px 80px 20px;
    gap: 5vw;

    @include mix.mq(sp) {
        padding: 80px 60px 0;
        grid-template-columns: 1fr;
        gap: 60px;
    }
}

.work a:hover {
    opacity: 1;
}

.figure {
    position: relative;
    aspect-ratio: 14/9;
}

.image {
    transition: all .3s;

    &:hover {
        transform: scale(1.1);
        opacity: 1;
    }
}

.title {
    font-family: var.$mainFont;
    text-transform: uppercase;
    margin-top: 20px;
    color: #333;

    @include mix.mq(sp) {
        font-size: 1.6rem;
    }
}