@use 'mixin' as mix;

.wrapper {
    padding: 100px 80px;

    @include mix.mq(sp) {
        padding: 60px 24px;
    }
}

.title {
    margin-bottom: 100px;

    @include mix.mq(sp) {
        margin-bottom: 60px;
    }
}

.flexContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    @include mix.mq(sp) {
        display: block;
    }

    figure {
        position: relative;
        width: 30%;
        min-width: 320px;
        max-width: 440px;
        margin-right: 10%;
        aspect-ratio: 3/4;
        box-shadow: 0px 63px 154px -20px rgb(7 33 66 / 50%);

        @include mix.mq(sp) {
            min-width: auto;
            max-width: 300px;
            width: 55%;
            margin: 0 auto 40px;
            box-shadow: 20px 10px 100px -20px rgb(7 33 66 / 50%);
        }
    }

    .description {
        width: 40%;
        text-align: left;
        min-width: 320px;

        @include mix.mq(sp) {
            margin: 0 auto;
            width: 100%;
            min-width: auto;
        }

        h3 {
            font-size: 2.4rem;
            margin-bottom: 20px;
        }
    }
}