@use 'mixin' as mix;

.wrapper {
    padding: 120px 30px 60px;

    @include mix.mq(sp) {
        padding: 100px 24px 60px;
    }
}

.list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    gap: 70px;

    @include mix.mq(sp) {
        grid-template-columns: 1fr;
        gap: 60px;
    }
}
