@use 'mixin' as mix;

.list {
    display: flex;
    justify-content: flex-end;
    gap: 3vw;
    margin-right: 40px;
    text-shadow: 40px 20px 100px rgb(7 33 66 / 50%);

    @include mix.mq(sp) {
        margin-right: 10px;
    }
}

.icon {
    font-size: 4rem;
    color: #efece9;

    @include mix.mq(sp) {
        font-size: 3rem;
    }
}