@use 'mixin' as mix;

.wrapper {
    padding: 100px 80px;

    @include mix.mq(sp) {
        padding: 20px 24px 60px;
    }
}

.mockUp {
    width: 90%;
    margin: 0 auto;
}

.flexContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
    margin-bottom: 100px;

    @include mix.mq(sp) {
        margin-top: 60px;
        margin-bottom: 60px;
    }
}

.compImage {
    position: relative;
    width: 40%;
    height: 200vw;
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 1px 1px 5px #333;
}