@use 'mixin' as mix;

.container {
    padding: 100px 0;

}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 0 140px;

    @include mix.mq(sp) {
        display: block;
        padding: 0 24px;
    }
}